[phases.setup]
nixPkgs = ["php82", "php82Packages.composer", "nodejs_20"]

[phases.install]
cmds = [
    "composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist",
    "npm ci"
]

[phases.build]
cmds = [
    "npm run build"
]

[start]
cmd = "php artisan config:cache && php artisan route:cache && php artisan migrate --force --seed && php artisan serve --host=0.0.0.0 --port=$PORT"
